<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945541427485-s5dv87q5g8i357njbk06tmosgngbhg2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945541427485-s5dv87q5g8i357njbk06tmosgngbhg2u</string>
	<key>API_KEY</key>
	<string>AIzaSyASNm_dlBp3k-OrjAkxopbGDfQwTu2tpbI</string>
	<key>GCM_SENDER_ID</key>
	<string>945541427485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AppClim</string>
	<key>PROJECT_ID</key>
	<string>useclimb</string>
	<key>STORAGE_BUCKET</key>
	<string>useclimb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945541427485:ios:f2e534f8e423a1ae7171f4</string>
	<key>DATABASE_URL</key>
	<string>https://useclimb.firebaseio.com</string>
</dict>
</plist>